{% extends 'core/padrebase.html' %}

{% block content %}
    <div class="row contenido">
        <div class="col-1"></div>
        <div class="col-10">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Matrona</th>
                        <th scope="col">Recien nacido</th> 
                        <th scope="col">Sector sala</th>
                        <th scope="col">N cupo</th>
                        <th scope="col">Peso</th>
                        <th scope="col">Tolerancia alimentaria</th>
                        <th scope="col">Deposicion</th>
                        <th scope="col">Orina</th>
                        <th scope="col">Observación</th>
                        
                    </tr>
                </thead>
            {%for seguimientos in seguimientos%}
                <tbody>
                    
              
                    <tr>
                        <td scope"col">{{seguimientos.id}} </td>
                        <td scope"col">{{seguimientos.matrona}} </td>
                        <td scope"col">{{seguimientos.recien_nacido}} </td>
                        <td scope"col">{{seguimientos.sector_sala}} </td>
                        <td scope"col">{{seguimientos.n_cupo}} </td>
                        <td scope"col">{{seguimientos.peso}} </td>
                        <td scope"col">{{seguimientos.tolerancia_alimentaria}} </td>
                        <td scope"col">{{seguimientos.deposicion}} </td>
                        <td scope"col">{{seguimientos.orina}} </td>
                        <td scope"col">{{seguimientos.observacion}}</td>
                   
                        
            {% endfor %}
        </div>
        <civ class="col-1"></civ>    
    </div>


{% endblock %}